# Google OAuth Client ID
# 1. Create a project at https://console.cloud.google.com/
# 2. Go to APIs & Services > Credentials
# 3. Create OAuth 2.0 Client ID (Application type: Web application)
# 4. Add Authorized JavaScript origin: http://localhost:5173
# 5. Copy the Client ID here:
VITE_GOOGLE_CLIENT_ID=155671824700-9pqhaaq53fb3ehoj2c328c41goa6keqn.apps.googleusercontent.com
